<div class="vertical-centered">
    <div class="row">
        <div class="col-md-8 d-block mx-auto">
            <div class="card border-0 shadow p-4">
                <ul class="list-inline">
                    <li class="list-inline-item text-small" [routerLink]="['']"><i class="feather icon-layers"></i> <i class="feather icon-chevrons-right"></i></li> 
                    <li class="list-inline-item text-small text-primary">Inscription</li>
                </ul>
                <!-- <span class="text-small"><i class="feather icon-chevron-left"></i> Retour</span>  -->
                <h5>Inscription</h5>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-6">
                            <label>Nom</label>
                            <input type="text" class="form-control" formControlName="lastname" placeholder="Nom">
                            <p class="text-danger" *ngIf="lastname.touched && lastname.invalid">Le nom est requis</p>
                        </div>
                        <div class="col-6">
                            <label>Prénom</label>
                            <input type="text" class="form-control" formControlName="firstname" placeholder="Prénom">
                            <p class="text-danger" *ngIf="firstname.invalid && firstname.touched">Le prénom requis</p>
                        </div>
                        <div class="col-6 mt-md-3">
                            <label>Adresse email</label>
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="Adresse email">
                            <p class="text-danger" *ngIf="email.touched && email.invalid">L'adresse email saisis est
                                incorrect</p>
                        </div>
                        <div class="col-6 mt-md-3">
                            <label>Téléphone portable</label>
                            <input type="text" class="form-control" formControlName="phone" placeholder="Téléphone"
                                value="+33">
                        </div>
                        <div class="col-6 mt-md-3">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Mot de passe">
                            <p class="text-danger"
                                *ngIf="password2.touched && password.touched && password.value != password2.value">Les
                                mots de passes ne correspondent pas</p>
                        </div>
                        <div class="col-6 mt-md-3">
                            <label>Répétez le mot de passe</label>
                            <input type="password" class="form-control" formControlName="password2"
                                placeholder="Répétez le mot de passe">
                        </div>
                        <div class="col-6 mt-md-3">
                            <label>Pays</label>
                            <select class="form-control" formControlName="country">
                                <option *ngFor="let country of countries" value="{{country.code}}">{{country.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary float-right rounded-0" [disabled]="!form.valid" (click)="attemptSignup()">Créer mon
                        compte</button>
                </form>
            </div>
        </div>
    </div>
</div>