<div class="container-fluid mt-md-5 mt-2">
    <div class="row">
        <div class="col-md-8 d-block mx-auto">
            <div class="card border-0 shadow pt-4">
                <h3 class="text-center">Votre réservation a correctement été enregistrée</h3>
                <i class="feather icon-check h1 text-primary text-center"></i>
                <div class="px-4">

                    <div class="row my-3">
                        <div class="col-md-6">
                            <h6>Récapitulatif :</h6>
                            <div class="m-4">
                                <p><i class="feather icon-calendar"></i> Date d'arrivée :
                                    {{reservation?.arrival_date | date}}</p>
                                <p><i class="feather icon-calendar"></i> Date de départ :
                                    {{reservation?.departure_date | date}}</p>
                                <p><i class="feather icon-users"></i> Nombre de vacanciers : {{reservation?.adults + reservation?.children}}
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h6>Adresse :</h6>
                            <div class="m-4">
                                <p>Ville : Carnetin</p>
                                <p>Code postal : 77400</p>
                                <p>Adresse : 8, rue de la croix</p>
                                <p>Pays: France</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary rounded-0 p-2" [routerLink]="['/dashboard']">Afficher mes réservations</button>
            </div>
        </div>
    </div>
</div>