<div class="row mx-4 my-3 pointer" *ngIf="!includes">
    <div class="col">
        <ul class="list-inline">
            <li class="list-inline-item">
                <h6 [routerLink]="['']">W Habitat</h6>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-inline float-right">
            <li class="list-inline-item mr-4"><a href="https://whabitat.fr/" class="text-dark">Sleep in Carnetin near Disney</a></li>
            <li class="list-inline-item mr-4"><a href="https://whabitat.fr/photos-2/" class="text-dark">Photo</a></li>
            <li class="list-inline-item mr-4"><a href="https://whabitat.fr/photos-2/" class="text-dark">Contact</a></li>
            <li class="list-inline-item mr-4"><a href="https://whabitat.fr/contact-1/" class="text-dark">Avis</a></li> 
            <li class="list-inline-item mr-4" *ngIf="user"><button [nbContextMenu]="items" class="btn"><i class="feather icon-user"></i></button></li>            
        </ul>
    </div>
</div>