/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "GoogleBold";
  src: url("assets/fonts/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: Open Sans;
  src: url("assets/fonts/ProductSans-Regular.woff") format("woff");
}
html{
    overflow-x:hidden;
    body{
        font-family: Open Sans 
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "GoogleBold" !important;
        font-weight: inherit !important;
    }
    .text-bold {
        font-family: "GoogleBold"
    }
    .text-normal{
        font-family: Open Sans 
    }
    .text-small{
        font-size:14px;
    }
    .pointer{
        cursor:pointer;
    }
    .vertical-centered{
       margin-top:1.6em;
    }
    .titleunderline {
        display: inline-block;
        width: 70px;
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 20px;
        background-color: #36f;
    }
    .btn-primary{
        background:#36f !important;
        border-color:#36f!important;
    }
    
    .text-primary{
        color:#36f !important;
    }
}




